/* MAIN */

/* UPGRADE SECITION */

.upgrade-section {
  height: 70px;
  justify-content: end;
  background-color: rgba(7, 11, 18, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
}

.upgrade-section > button {
  margin: 15px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 0.7rem;
}

/* /UPGRADE SECITION */

/* MAIN SECTION */

/* ASIDE NAVIGATOR */
.aside-column {
  background-color: black;
  padding: 10px;
  height: 100%;
}

#nav-top {
  height: calc(100% - 70px);
}

#nav-bottom {
  height: 70px;
}

.side-logo img{
  width: 75%;
  color: white;
  z-index: 999
}

.nav-icons img {
  width: 15%;
  color: #727272;
  vertical-align: middle;
}

.nav-icons li {
  margin-bottom: 10px;
}
.nav-icons a {
  color: #C1C1C1;
}

.nav-icons a:first-child {
  color: #D3D3D3;
}

.side-nav {
  margin-bottom: 20px;
}

.playlist-section h4 {
  color: white;
  margin-bottom: 15px; 
}

.crea-playlist {
  align-items: center;
  color: #767676;
  margin-bottom: 20px; 
}

.crea-playlist span {
  width: 40px;
  height: 40px;
  background-color: #A3A3A3;
}

.crea-playlist i {
  transform: rotate(45deg);
  color: black;
}

.crea-playlist p,
.install p{
  margin-left: 10px;
}

.play-list {
  overflow: auto;
  height: 500px;
}

.play-list li {
  margin-bottom: 25px;
}

.play-list li a,
.install {
  color: #A3A3A3;
}

.install {
  padding-bottom: 8px;
  border-bottom: 1px solid #717171;
}

.profile span {
  width: 35px;
  height: 35px;
  background-color: #808080;
  border-radius: 50%;
  margin-top: 10px;
}

.profile span img {
  width: 70%;
}

.profile h3 {
  margin: 15px 0 0 10px;
  color: white;
}
/* /ASIDE NAVIGATOR */

/* MAIN CONTENT */
.central-section {
  background-color: #141922;
  color: white;
  padding-top: 70px;
  height: 100%;
  overflow-y: auto;
}


nav {
  margin-top: 10px;
}

nav li {
  display: inline-block;
  padding: 6px;
}

.recent-play h2 {
  margin-bottom: 20px;
}

.disc-cards {
  justify-content: start;
  align-items: baseline;
  flex-wrap: wrap;
}

.disc {
  width: calc((100% - 120px) / 6);
  margin: 10px 20px 0 0;
  flex-shrink: 0;
}

.round.disc-img img{
  border-radius: 50%;
}

.disc-img img {
  width: 100%;
}

.disc-txt {
  text-align: center;
  margin-top: 10px;
}

.disc-txt p,
.created-for-jd p,
.popular-artists p {
  margin: 8px 0 10px 0;
  font-size: .8rem;
  color: #7D7E84;
}
/* /MAIN CONTENT */

/* /MAIN SECTION */

/* /MAIN */

/* FOOTER */

#player {
  justify-content: space-between;
  align-items: center;
}

.player-album {
  padding-left: 10px;
  width: 25%;
  
}

.album {
  align-items: center;
}
.album-img {
  width: 15%;
}

.album-txt {
  padding-left: 10px;
}
.album-txt p {
  font-size: .8rem;
  color: #7D7E84
}

.album-img img {
  width: 100%;
}

.album-icons {
  align-items: center;
  padding-right: 40px;
}

.album-icons i {
  padding-left: 15px;
  color: #828282;
  font-size: 1.3rem;
}

.player-controller {
  width: 40%;
}

.player-controller i {
  padding: 10px 15px;
  font-size: 1.5rem;
  color: white;
}

.player-btn .fa-circle-play{
  font-size: 2.3rem;
  margin: 0 10px;
}


.player-volume {
  width: 230px;
}

/* /FOOTER */