/* MAIN */

/* UPGRADE SECITION */

.upgrade-section {
  height: 70px;
  justify-content: end;
  background-color: rgba(7, 11, 18, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
}

.upgrade-section > button {
  margin: 15px 30px;
  padding: 0 20px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
}

.upgrade-section > button:hover {
  transform: scale(1.1);
}

/* /UPGRADE SECITION */

/* MAIN SECTION */

/* ASIDE NAVIGATOR */
.aside-column {
  background-color: black;
  height: 100%;
  overflow-y: hidden;
}

#nav-top {
  height: calc(100% - 90px);
}

#nav-bottom {
  height: 90px;
  padding: 10px;
}

.side-logo img{
  width: 75%;
  color: white;
  z-index: 999;
  padding: 10px;
}

.alternative {
  padding: 10px 0 0 10px;
  display: none;
}

.nav-icons img {
  width: 15%;
  color: #727272;
  vertical-align: middle;
}

.nav-icons li {
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 2px solid rgba(0, 0, 0, 0);
}


li.active{
  border-left: 2px solid #B6FF34;
}

.side-nav {
  margin-bottom: 20px;
}

.playlist-section {
  padding-left: 12px;
}

.playlist-section h4 {
  color: white;
  margin-bottom: 15px; 
}

.crea-playlist {
  align-items: center;
  color: #767676;
  margin-bottom: 20px; 
}

.crea-playlist span {
  width: 40px;
  height: 40px;
  background-color: #A3A3A3;
  border-radius: 3px;
}

.crea-playlist i {
  transform: rotate(45deg);
  color: black;
}

.crea-playlist p,
.install p{
  margin-left: 10px;
}

.playlist-section {
  overflow: auto;
}

.play-list {
  /* flex-grow: 1; */
  overflow-y: auto;
  min-height: 50px;
}
/* TENTATIVO DI OVERFLOW */

.play-list li {
  margin-bottom: 25px;
}

.install {
  padding-bottom: 8px;
  border-bottom: 1px solid #717171;
  align-items: center;
}

.profile span {
  width: 35px;
  height: 35px;
  background-color: #808080;
  border-radius: 50%;
  margin-top: 10px;
}

.profile span img {
  width: 70%;
}

.profile h3 {
  margin: 15px 0 0 10px;
  color: white;
}
/* /ASIDE NAVIGATOR */

/* MAIN CONTENT */
.central-section {
  background-color: #141922;
  color: white;
  padding-top: 70px;
  height: 100%;
  overflow-y: auto;
}


nav {
  margin-top: 10px;
}

nav li {
  display: inline-block;
  padding: 6px;
}

.active-bottom {
  border: 1px solid #BDFF38;
  width: 40%;
  text-align: center;
  position: relative;
  left: 30%;
}

.recent-play h2 {
  margin-bottom: 20px;
}

.disc-cards {
  /* justify-content: start; */
  /* align-items: baseline; */
  flex-wrap: wrap;
}

.disc {
  width: calc((100% - 120px) / 6);
  margin: 10px 20px 0 0;
  text-align: center;
}

.round.disc-img img,
.round.disc-img .overlay{
  border-radius: 50%;
}

.disc-img img {
  width: 100%;
}

.disc-txt {
  text-align: center;
  margin-top: 10px;
}

.disc-txt p,
.created-for-jd p,
.popular-artists p {
  margin: 8px 0 10px 0;
  font-size: .8rem;
  color: #7D7E84;
}

/* OVERLAY */

.disc-img {
  position: relative;
}

.overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
}


.disc-img:hover .overlay {
  opacity: 1;
}

.disc-img:hover img{
  filter: brightness(0.5)
}

.overlay i {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* /OVERLAY */

/* /MAIN CONTENT */

/* /MAIN SECTION */

/* /MAIN */

/* FOOTER */

#player {
  justify-content: space-between;
  align-items: center;
}

.player-album {
  padding-left: 10px;
  width: 300px;
}

.album {
  align-items: center;
}

.album-img {
  max-width: 70px;
}

.album-txt {
  padding-left: 10px;
  width: 100%;
}

.album-txt p {
  font-size: .8rem;
  color: #7D7E84
}

.album-img img {
  width: 100%;
}

.album-icons {
  align-items: center;
  padding-left: 20px;
} 

.album-icons i {
  padding-left: 15px;
  font-size: 1.3rem;
}


.player-controller {
  width: 40%;
}

.player-controller i {
  padding: 10px 10px;
  font-size: 1rem;
  color: white;
}

.player-btn .fa-circle-play{
  font-size: 1.3rem;
  margin: 0 5px;
}

.player-btn .fa-circle-play:hover{
  transform: scale(1.2);
}

.track-status {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.track-status {
  font-size: 0.7rem
}

.timeframe {
  width: calc(100% - 100px)
}

.timeframe-total,
.volume-total {
  width: 100%;
  background-color: #717171;
  border-radius: 5px;
}

.timeframe-passed,
.volume-passed {
  width: 30%;
  border: 2px solid #C1C1C1;
  border-radius: 5px;
}

.track-time {
  margin: 0 20px;
  width: 30px
}
.player-volume {
  width: 20%;
  padding-right: 15px;
}

.player-volume a{
  padding-right: 15px;
}

.volume {
  min-width: 60%;
}

/* /FOOTER */

/* MEDIA QUERY */

@media screen and (max-width: 1200px){
  .disc {
    width: calc((100% - 80px) / 4);
  }

@media screen and (max-width: 770px){
  .disc {
    width: calc((100% - 40px) / 2);
  }

  .volume-icons,
  .album-icons {
    flex-direction: column;
    justify-content: center;
  }

  .volume-icons i{
    margin-bottom: 10px;
  }

  .aside-column {
    width: 200px;
  }

  .side-nav img {
    width: 20%;
  }

  .central-section,
  .upgrade-section {
    width: calc(100% - 200px);
  }
}

@media screen and (max-width: 540px) {
  .side-logo {
    display: none;
  }

  .alternative {
    display: block;
    width: 85%;
  }

  .aside-column {
    width: 60px;
  }

  .side-nav img {
    width: 80%;
  }

  #nav-bottom .install,
  #nav-bottom .profile{
    justify-content: center;
    align-items: center;
    border-bottom: none;
  }

  .central-section,
  .upgrade-section {
    width: calc(100% - 60px);
  }

  .nav-icons span,
  .playlist-section,
  #nav-bottom p, 
  #nav-bottom h3{
    display: none;
  }

  .main-content ul li a{
    font-size: 0.8rem;
  }
}


@media screen and (max-width: 350px) {
  .aside-column {
    display: none;  
  }

  .central-section {
    width: 100%;
  }

  .disc {
    width: 100%;
  }

  .upgrade-section {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .upgrade-section button {
    margin: none;
    padding: 10px 20px;
  }

  .player-album, 
  .player-volume{
    display: none;
  }

  .player-controller {
    width: 100%;
  }
}


/* /MEDIA QUERY */
/* 
.disc {
  width: calc((100% - 120px) / 6);
  margin: 10px 20px 0 0;
  text-align: center;
} */
